.contact {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
  cursor: pointer;
  &-img {
    border-radius: 50%;
    width: 72px;
    height: 72px;
    margin-right: 16px;
  }
  &__info--topper {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
  }
  &-name {
    font-size: 16px;
    margin-right: 4px;
  }
  &-tag {
    color: #97979B;
    font-weight: 500;
    font-size: 14px;
  }
  &-position {
    color: #55555C;
    font-weight: 400;
    font-size: 13px;
  }
}