.search {
  width: 100%;
  margin-bottom: 22px;
  &__heading {
    padding-left: 8px;
  }
  &__heading-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: #050510;
    margin-bottom: 18px;
  }
  &__bar {
    position: relative;
    
    &-input {
      background: #F7F7F8;
      border-radius: 16px;
      box-sizing: border-box;
      padding: 12px 0 12px 44px;
      color: #050510;
      font-size: 15px;
      border: none;
      width: 100%;
      &::placeholder {
        font-size: 15px;
        color: #C3C3C6;
      }
    }
    & svg {
      position: absolute;
      left: 14px;
      top: 10px;
    }
  }
}