// Reset
@import './assets/reset/reset.scss';
// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
// Styles
html {
  width:100vw;
  overflow-x:hidden;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

.container {
  margin: 0 auto;
  max-width: 1248px;
  padding: 0 15px;
}